<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlets.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Servlets.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAgency</servlet-name>
        <servlet-class>Servlets.AddAgency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProperty</servlet-name>
        <servlet-class>Servlets.AddProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPropertyDetails</servlet-name>
        <servlet-class>Servlets.MyPropertyDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAgency</servlet-name>
        <url-pattern>/AddAgency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProperty</servlet-name>
        <url-pattern>/AddProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPropertyDetails</servlet-name>
        <url-pattern>/MyPropertyDetails</url-pattern>
    </servlet-mapping>
</web-app>
