/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/06/2021, 09:36:04 AM
    Author     : magic
*/

.mainText{
    width: 50%;
    color: #F9F9F9;
    font-size: 200%;
    padding-left: 10%;
}

.mainImage {
    width: 50%;
    padding-right: 5%;
}

#people{
    width: 100%;
}

.divBuscador{
    width: 90%;
    padding-right: 10%;
}

.radiobutt{
    display: flex;
    align-items: stretch;
    padding: 20px 0;
}

.main input[type="text"] {
    background-color: #F9F9F9;
    border-radius: 1em;
    text-align: center;
    color: #AFAFAF;
    width: 100%;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    border-color: transparent;
    outline-width: 0
}


.main input[type="text"]:focus {
    color: #284B5E;
}

.info{
    background-color: #F9F9F9;
    text-align: center;
    color: #284B5E;
    font-weight: bold;
    font-size: 500%;
}

.propertyCard{

    margin: 5%;
    padding: 5%;
    border-radius: 1em;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    transition: all 0.4s ease-in-out;
    display: flex;

}

.infoMuestra{
	width: 60%;
	padding-left: 5%;
}

.propertyCard:hover{
	transform: scale(1.1);
	
}

#verficha{
        text-decoration: none;
	background-color: #21C7DB;
	border-radius: 2em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right:  5%;
	top: 0;
        color: #F9F9F9;
        margin-left: 1%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	float: right;
}

#verficha:hover{
	color: #F9F9F9 ;
	transition: 0.5s;
}

.imagenMuestra img {
	width: 50%;
	border-radius: 1em;
}

.imagenMuestra{
	width: 40%;
	
}