/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9/06/2021, 08:25:58 PM
    Author     : magic
*/

.addProperty input[type="text"] {
    background-color: #F9F9F9;
    border-radius: 1em;
    text-align: center;
    color: #AFAFAF;
    width: 90%;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    border-color: transparent;
    outline-width: 0;
    margin-top: 2%;
    height: 2em;
    margin-bottom: 2%;
    
}


.addProperty input[type="text"]:focus {
    color: #284B5E;
}

.addProperty{
    color: #F9F9F9;
    text-align: center;
}

.nombres{
    display: flex;
    text-align: center;
    align-content: center;
}

.nombres input[type="text"]{
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.addProperty{
    color: #F9F9F9;
    width: 30%;
    text-align: center;
    border-color: #21C7DB;
    border-radius: 2em;
    border-style: solid;
    border-color: #21C7DB;  
    margin-left: 2%;
    margin-right: 2%;
}

.addProperty input[type="submit"]{
    background-color: #F9F9F9;
    border: none;
    text-decoration: none;
    font-family: 'Poppins';
    border-radius: 2em;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 1%;
}

.nombres input[type="number"]{
    width: 50%;
    background-color: #F9F9F9;
    border-radius: 1em;
    text-align: center;
    color: #AFAFAF;
    margin-left: 2.5%;
    margin-right: 2.5%;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    border-color: transparent;
    outline-width: 0;
    margin-top: 2%;
    height: 2em;
    margin-bottom: 2%;
}
